page-landing ion-content {
	background: url(../assets/images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.fb-btn{
	top:90%;
	left:25%;	
}
